<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Travel App</title>
        <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <div id="main-grid">
            <div class="headline">
                <header>
                    <h1>Travel Planner</h1>
                </header>
                <div class="self-align-end mt-1em">
                    <button id="add-new-trip" class="trip-btn save-btn">
                        + Add Trip
                    </button>
                </div>
            </div>
            <section id="my-trips-section" class="main-section">
                <h1 id="my-trips-header">My Trips</h1>
            </section>
            <section id="trip-booking-section">
                <form>
                    <div class="form-control">
                        <label for="trip-destination">Destination</label>
                        <input type="text" id="trip-destination" name="trip-destination" placeholder="Enter Location">
                    </div>
                    <div id="destination-err" class="error"></div>
                    <div class="form-control">
                        <label for="trip-date">Date</label>
                        <input type="date" id="trip-date" name="trip-date" placeholder="test">
                    </div>
                    <div id="date-err" class="error"></div>
                </form>
                <div id="trip-details-btn-section">
                    <button id="search-btn" class="trip-btn save-btn">
                        Search
                    </button>
                    <button id="clear-btn" class="trip-btn remove-btn">
                        Reset
                    </button>
                </div>
            </section>

            <section id="search-trip-results" class="main-section search-bg">

            </section>
        </div>

        <script>
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>

</html>